<div class="container">
    <div class="row">
        <div class="col col-md-4 p-5">
            <h4><b>Usuarios</b></h4>
        </div>
        <div class="col col-md-8 text-end d-flex flex-row-reverse p-5">
           <button class="btn-agregar" routerLink="/add-usuario">Agregar un nuevo registro</button> 
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Username</th>
                <th>Correo</th>
                <th>Rol id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for(usuario of usuarios; track usuario.idUsuario){
                @if (usuario.activo) {
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.idRol }}</td>
                        <td>
                            <button [routerLink]="['/edit-usuario', usuario.idUsuario]" class="btn btn-primary"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
                            <button (click)="deleteUsuario(usuario)" class="btn btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


</div>