<header>
    <a href="#" class="logo">
        <img src="https://yt3.ggpht.com/ytc/AKedOLQ8ze6e8jO30cTYuLmn07MM0sQtuLxIKoiTQNJzU4E=s800-c-k-c0x00ffffff-no-rj" alt="">
        <h2>Mors Mutual Insurance</h2>
    </a>

    <nav>
         <ul>
            <li>
                <a routerLink="/vehiculos">Vehículos</a>
                <ul class="dropdown">
                    <li><a routerLink="/marcas">Marcas</a></li>
                    <li><a routerLink="/modelos">Modelos</a></li>
                </ul>
            </li>
            <li><a href="">Contratantes</a></li>
            <li><a href="">Cotizaciones</a></li>
            <li><a href="">Registro de informacion</a></li>
            <li><a href="">Reportes</a></li>
            <li><a href="">Catálogos</a>
                <ul class="dropdown">
                    <li><a routerLink="/aseguradoras">Aseguradoras</a></li>
                </ul>
            </li>
         </ul>
    </nav>

    <!-- Que chingue su madre bootstrap alv
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://yt3.ggpht.com/ytc/AKedOLQ8ze6e8jO30cTYuLmn07MM0sQtuLxIKoiTQNJzU4E=s800-c-k-c0x00ffffff-no-rj" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"></a>
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        No es cierto I love Bootstrap uwu-->
</header>